/**
 * The following CSS is the default to display MyClub sections club news.
 */

.myclub-sections-club-news {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .myclub-sections-club-news-container {
    width: 100%;

    .myclub-sections-club-news-list {
      display: flex;
      flex-flow: row wrap;

      .myclub-club-news-item {
        box-sizing: border-box;
        margin: 0.5rem;
        flex: 0 1 calc(100% - 1rem);
        padding: 0.5rem;

        a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          .myclub-club-news-image {
            aspect-ratio: 16 / 9;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              display: block;
            }
          }

          .myclub-club-news-image-caption {
            font-size: small;
            margin-top: 0.25rem;
          }
        }
      }

      .myclub-more-club-news {
        padding: 1rem;
        text-align: center;
        width: 100%;
      }
    }

    .no-news-found {
      padding: 1rem;
      text-align: center;
    }
  }
}

@media(min-width: 996px) {
  .myclub-sections-club-news {
    .myclub-sections-club-news-container {
      max-width: 996px;

      .myclub-sections-club-news-list {
        .myclub-club-news-item {
          flex: 0 1 calc(33% - 1rem);
        }
      }
    }
  }
}

@media(min-width: 1200px) {
  .myclub-sections-club-news {
    .myclub-sections-club-news-container {
      max-width: 1200px;
    }
  }
}